<div class="container" align="center">
    <table class="table w-auto small">
        <tbody>
        <tr>
            <td rowspan='8' class='pie-chart-mobile'><%= games_pie_chart(@steam_library_presenter.games) %></td>
            <td>
                <i class="fa-solid fa-circle native"></i> + <i class="fa-solid fa-circle platinum"></i> + <i class="fa-solid fa-circle gold"></i> 
                <span class="playable-pie-chart"><%= t("static_pages.show.playables")%>: </span>
                <%= @steam_library_presenter.playable_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.playable_count) %> 
                (<%= @steam_library_presenter.percentage_of_playables_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle native"></i> 
                <span class="native-pie-chart"><%= t("static_pages.show.tier.native") %>: </span>
                <%= @steam_library_presenter.native_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.native_count) %> 
                (<%= @steam_library_presenter.percentage_of_natives_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle platinum"></i>
                <span class="platinum-pie-chart"><%= t("static_pages.show.tier.platinum") %>: </span>
                <%= @steam_library_presenter.platinum_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.platinum_count) %> 
                (<%= @steam_library_presenter.percentage_of_platinums_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle gold"></i> 
                <span class="gold-pie-chart"><%= t("static_pages.show.tier.gold") %>: </span>
                <%= @steam_library_presenter.gold_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.gold_count) %> 
                (<%= @steam_library_presenter.percentage_of_golds_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle silver"></i> 
                <span class="silver-pie-chart"><%= t("static_pages.show.tier.silver") %>: </span>
                <%= @steam_library_presenter.silver_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.silver_count) %> 
                (<%= @steam_library_presenter.percentage_of_silvers_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle bronze"></i> 
                <span class="bronze-pie-chart"><%= t("static_pages.show.tier.bronze") %>: </span>
                <%= @steam_library_presenter.bronze_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.bronze_count) %> 
                (<%= @steam_library_presenter.percentage_of_bronzes_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle borked"></i> 
                <span class="borked-pie-chart"><%= t("static_pages.show.tier.borked") %>: </span>
                <%= @steam_library_presenter.borked_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.borked_count) %> 
                (<%= @steam_library_presenter.percentage_of_borkeds_with_character %>)
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa-solid fa-circle unknown"></i> 
                <span class="unknown-pie-chart"><%= t("static_pages.show.tier.unknown") %>: </span>
                <%= @steam_library_presenter.unknown_count %> <%= @steam_library_presenter.game_or_games(@steam_library_presenter.unknown_count) %> 
                (<%= @steam_library_presenter.percentage_of_unknowns_with_character %>)
            </td>
        </tr>
        </tbody>
    </table>
</div>