<div class="white-body">
  <%= render "pie_chart" %>
  <%= link_to @steam_library_presenter.list_link_name, steam_library_show_path(:steam_library =>
        {steam_id: @steam_library_presenter.steam_id, checklist: @steam_library_presenter.change_list}), class: "btn btn-primary btn-lg list-link" %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= t("static_pages.show.table.title") %></th>
        <th><%= t("static_pages.show.table.status") %></th>
      </tr>
    <thead>
    <tbody>
      <% @steam_library_presenter.games.each do |game| %>
        <tr class="<%= game.tier %>">
          <td><%= link_to game.name, game.protondb_url, target: "_blank", class: "protondb_link" %></td>
          <td><%= t("static_pages.show.tier.#{game.tier}") %>  <i class="<%= trending(game) %>"></i></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
<%= render "footer", class_footer: 'bottom-10' %>
